TELEGRAM_BOT_TOKEN=123456789:telegram_bot_tokeniniz
TELEGRAM_CHAT_ID=123456789
UPSTASH_REDIS_REST_URL=https://example.upstash.io
UPSTASH_REDIS_REST_TOKEN=upstash_rest_tokeniniz
NOTIFY_EXISTING_ON_FIRST_RUN=false
